# Astro / Airflow local
.env
airflow_settings.yaml
logs/
airflow.db
webserver_config.py
.astro/dag_integrity_exceptions.txt
# Chaves — NUNCA commitar
*.p8
*.pem
rsa_key*
# Python
__pycache__/
*.pyc
.venv/
dbt_venv/
# dbt
dags/dbt/olist/target/
dags/dbt/olist/dbt_packages/
dags/dbt/olist/logs/
